# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env/

# Environment variables
*.env
*.env.local
.envrc
.pdm.toml
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor configurations
.vscode/
.idea/
*.swp
*.swo
*.swn

# Logs and temp files
*.log
*.out
*.tmp
*.bak

# Dependency management
Pipfile
Pipfile.lock
poetry.lock
poetry.toml
requirements.txt

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Pytest and coverage reports
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.pyc.cover

# Build files
build/
dist/
*.egg-info/
.eggs/

# Docker
.dockerignore
docker-compose.override.yml

# Ansible
*.retry
